@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@100&display=swap');

:root {
  --font-parisienne: 'Parisienne', cursive;
  font-family: 'Roboto', sans-serif;
  color: var(--first-color);
  --first-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: var(--first-color);
}

body {
  background-image: url('./images/japan.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_menu,
.main_container {
  text-transform: uppercase;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em 0 4em;
}

.nav_list {
  display: flex;
}

.nav_item {
  padding: 0 1em;
}

.two {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 80%;
  transition: top 0.5s ease;
  color: white;
}

.nav_link {
  opacity: 0.8;
}

.nav_link:hover {
  opacity: 1;
}

.logo {
  font-family: var(--font-parisienne);
  font-size: 1.5em;
  font-weight: 800;
}
.main {
  display: flex;
  justify-content: center;
}
.main_container {
  margin-top: 10em;
  text-align: center;
}

.main_container h2 {
  font-size: 5em;
  letter-spacing: 0.1em;
}

.main_container h5 {
  text-align: right;
  font-size: 1em;
}

.main_container p {
  font-size: 1.4em;
  text-align: right;
  font-weight: 300;
  padding: 0.3em;
}

.main_container h1 {
  text-align: left;
  font-family: var(--font-parisienne);
  font-weight: 800;
  padding-left: 1em;
  font-size: 3em;
  padding-top: 0.3em;
}

.main_container span:after {
  content: 'o';
  background-color: red;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
.footer {
  padding-top: 13em;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 2em 9em;
  background-color: rgba(0, 0, 0, 0.425);
}

.footer_element p {
  padding-right: 4em;
  line-height: 1.5em;
}
.footer_element h4 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

@media (max-width: 1000px) {
  .footer_container {
    padding: 2em 1.5em;
  }
}

@media (max-width: 650px) {
  .footer_container p {
      display: none;
   /*  display: flex;
    flex-direction: column; */
  }

  .footer_element {
    margin-top: 1em;
    text-align: center;
  }
}
